<!-- home.html : 홈화면 페이지 ! -->
{% extends 'base_nav.html' %}
{% load static %}

{% block title %}홈{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/review_popup.css' %}">
{% endblock %}

{% block content %}

<section class="top-area">
     <div class="top-info">
          <span class="top-info-box">
               <svg class="top-question-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    viewBox="0 0 16 16" fill="none">
                    <path d="M6.6083 0.310702C10.6006 -0.203632 14.2538 2.6161 14.7683 6.60844L15.6998 13.8368L8.4715 14.7683C4.47915 15.2828 0.825354 12.4639 0.310685 8.47164C-0.203835 4.47919 2.61585 0.825222 6.6083 0.310702Z"
                         fill="white" stroke="#3A3A3A" stroke-width="0.5" />
                    <text x="8" y="9.5" text-anchor="middle" dominant-baseline="middle" fill="#3A3A3A" font-size="8"
                         font-weight="1000" font-family="Pretendard, sans-serif">?</text>
               </svg>

               <span class="top-info-count">{{ worry_count|default:0 }}</span>
          </span>

          <span class="top-info-box">
               <svg class="top-info-icon point-icon" xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                    viewBox="0 0 15 15" fill="none">
                    <circle cx="7.5" cy="7.5" r="7.25" fill="#C89B25" stroke="black" stroke-width="0.5"
                         stroke-linecap="round" />
                    <circle cx="5.625" cy="8.125" r="0.375" fill="black" stroke="black" stroke-width="0.5"
                         stroke-linecap="round" />
                    <circle cx="9.375" cy="8.125" r="0.375" fill="black" stroke="black" stroke-width="0.5"
                         stroke-linecap="round" />
                    <path d="M5.5 10.25C6.25 10.9583 8.125 11.95 9.625 10.25" stroke="black" stroke-width="0.5"
                         stroke-linecap="round" />
               </svg>
               <span class="top-info-count">{{ points|default:0 }}</span>
          </span>
     </div>

     <div class="categories">
          <a href="{% url 'worries:post_worry' %}" class="category-card add-card">
               <button class="category-add" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                         <line x1="16" y1="2" x2="16" y2="29" stroke="#AE4959" stroke-width="4"
                              stroke-linecap="round" />
                         <path d="M2 15H29" stroke="#AE4959" stroke-width="4" stroke-linecap="round" />
                    </svg>
               </button>
          </a>

          {% for item in now_worries %}
          {% with worry=item.worry %}
          <article class="category-card">

               <!-- 고민 상세 이동 -->
               <a href="{% url 'worries:get_worry_detail' worry.id %}" class="category-link-overlay"
                    aria-label="고민 상세로 이동">
               </a>

               <img src="{% static item.yang_image %}" alt="{{ item.yang_name }}" class="category-icon">

               <p class="category-title">
                    {{ worry.keyword }}
               </p>

               <div class="category-meta">

                    <!-- 응원 도장 -->
                    <form method="post" action="{% url 'worries:post_cheerup' worry.id %}" class="home-cheer-form">
                         {% csrf_token %}
                         <input type="hidden" name="next" value="{{ request.get_full_path }}">
                         <button type="submit" class="home-stamp-btn" aria-label="응원 도장">
                              <span class="stamp">
                                   <img src="{% static 'images/yellowstamp.png' %}" alt="스탬프">
                              </span>
                         </button>
                    </form>

                    <span class="count">
                         {{ item.cheerup_count|default:0 }}
                    </span>

                    <span class="answer">
                         <svg xmlns="http://www.w3.org/2000/svg" width="25" height="23" viewBox="0 0 25 23" fill="none">
                              <path d="M10.0634 0.343539C16.2256 -0.450609 21.8649 3.90109 22.659 10.0633L24.097 21.2211L12.9392 22.659C6.77698 23.4531 1.13772 19.1014 0.343568 12.9392C-0.45058 6.77696 3.90112 1.13769 10.0634 0.343539Z"
                                   stroke="#3A3A3A" stroke-width="0.5" />
                         </svg>
                         <span class="answer_text">A</span>
                    </span>

                    <span class="count">
                         {{ item.answer_count|default:0 }}
                    </span>
               </div>
          </article>
          {% endwith %}
          {% empty %}
          <p class="empty-home-message">현재 표시할 고민이 없어요.</p>
          {% endfor %}
     </div>
</section>

<section class="delivery-area">
     <div class="daily-question">
          <p>{{ today_message }}</p>
     </div>

     <div class="box-character">
          <svg xmlns="http://www.w3.org/2000/svg" width="88" height="81" viewBox="0 0 88 81" fill="none">
               <path d="M1.5 79.0804V21.5804L14.5 2.08035L44 21.5804L74 2.08035L80.25 11.8304L86.5 21.5804V79.0804H1.5Z"
                    fill="#9F907E" />
               <path d="M44 21.5804L14.5 2.08035L1.5 21.5804V79.0804H86.5V21.5804L80.25 11.8304L74 2.08035L44 21.5804ZM1.5 21.5804H44M86.5 21.5804H44"
                    stroke="black" stroke-width="3" stroke-linecap="round" />
               <circle cx="36" cy="49.5804" r="2.5" fill="black" />
               <circle cx="51" cy="49.5804" r="2.5" fill="black" />
               <path d="M33.5 43.1847C34.1667 42.3513 35.9 41.1847 37.5 43.1847" stroke="black"
                    stroke-linecap="round" />
               <path d="M49.5 43.1847C50.1667 42.3513 51.9 41.1847 53.5 43.1847" stroke="black"
                    stroke-linecap="round" />
               <path d="M36.5 59.0804C39.1667 60.747 45.6 63.0804 50 59.0804" stroke="black" stroke-width="2"
                    stroke-linecap="round" />
          </svg>
     </div>

     <div class="worryvery-character">
          <img src="{% static 'images/eldersheep_icon.png' %}" alt="Worryvery">
          <div class="sheep-shadow"></div>
     </div>
</section>

<!-- 후일담 팝업 -->

<section class="review-popup" id="reviewPopup" data-show-popup="{{ show_epilogue_popup|yesno:'true,false' }}">
     <div class="review-content-box">

          <div class="review-header">
               <div class="review-envelope">
                    <svg xmlns="http://www.w3.org/2000/svg" width="88" height="81" viewBox="0 0 88 81" fill="none">
                         <path d="M1.5 79.0806V21.5806L14.5 2.08057L44 21.5806L74 2.08057L80.25 11.8306L86.5 21.5806V79.0806H1.5Z"
                              fill="#9F907E" />
                         <path d="M44 21.5806L14.5 2.08057L1.5 21.5806V79.0806H86.5V21.5806L80.25 11.8306L74 2.08057L44 21.5806ZM1.5 21.5806H44M86.5 21.5806H44"
                              stroke="black" stroke-width="3" stroke-linecap="round" />
                         <circle cx="36" cy="49.5806" r="2.5" fill="black" />
                         <circle cx="51" cy="49.5806" r="2.5" fill="black" />
                         <path d="M33.5 43.1849C34.1667 42.3515 35.9 41.1849 37.5 43.1849" stroke="black"
                              stroke-linecap="round" />
                         <path d="M49.5 43.1849C50.1667 42.3515 51.9 41.1849 53.5 43.1849" stroke="black"
                              stroke-linecap="round" />
                         <path d="M36.5 59.0806C39.1667 60.7472 45.6 63.0806 50 59.0806" stroke="black" stroke-width="2"
                              stroke-linecap="round" />
                    </svg>
               </div>

               <p class="review-title">
                    후일담이 업로드 되었습니다!
               </p>
          </div>

          <div class="review-message-box">
               <p class="review-message">
                    {{ epilogue_han_madi|default:"후일담이 도착했어요." }}
               </p>

               <a href="{% if popup_epilogue_id %}{% url 'main:go_epilogue' popup_epilogue_id %}{% else %}#{% endif %}"
                    class="review-link">
                    후일담 보러 가기
               </a>
          </div>

          <a href="{% url 'main:home' %}" class="review-close-btn" id="reviewClose">
               팝업 닫기
          </a>
     </div>
</section>


<!-- 출석체크 팝업 -->
<section class="attendance-popup" id="attendancePopup"
     data-show-popup="{{ show_attendance_popup|yesno:'true,false' }}"
     data-today-day="{{ today_day }}"
     data-attendance-days="{{ attendance_weekdays|join:',' }}">
     <div class="attendance-content-box">

          <div class="attendance-grid">

               <div class="attendance-item" data-day="1">
                    <div class="attendance-face">
                         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55" fill="none">
                              <circle cx="27.5" cy="27.5" r="26.5" fill="#C89B25" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <circle cx="20.625" cy="29.7917" r="1.29167" fill="black" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <circle cx="34.375" cy="29.7917" r="1.29167" fill="black" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <path d="M20.1666 37.5835C22.9166 40.1807 29.7916 43.8168 35.2916 37.5835" stroke="black"
                                   stroke-width="2" stroke-linecap="round" />
                         </svg>
                    </div>
                    <span class="attendance-label">DAY 1</span>
               </div>

               <div class="attendance-item" data-day="2">
                    <div class="attendance-face">
                         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55" fill="none">
                              <circle cx="27.5" cy="27.5" r="26.5" fill="#C89B25" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <circle cx="20.625" cy="29.7917" r="1.29167" fill="black" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <circle cx="34.375" cy="29.7917" r="1.29167" fill="black" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <path d="M20.1666 37.5835C22.9166 40.1807 29.7916 43.8168 35.2916 37.5835" stroke="black"
                                   stroke-width="2" stroke-linecap="round" />
                         </svg>
                    </div>
                    <span class="attendance-label">DAY 2</span>
               </div>

               <div class="attendance-item" data-day="3">
                    <div class="attendance-face">
                         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55" fill="none">
                              <circle cx="27.5" cy="27.5" r="26.5" fill="#C89B25" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <circle cx="20.625" cy="29.7917" r="1.29167" fill="black" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <circle cx="34.375" cy="29.7917" r="1.29167" fill="black" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <path d="M20.1666 37.5835C22.9166 40.1807 29.7916 43.8168 35.2916 37.5835" stroke="black"
                                   stroke-width="2" stroke-linecap="round" />
                         </svg>
                    </div>
                    <span class="attendance-label">DAY 3</span>
               </div>

               <div class="attendance-item" data-day="4">
                    <div class="attendance-face">
                         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55" fill="none">
                              <circle cx="27.5" cy="27.5" r="26.5" fill="#C89B25" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <circle cx="20.625" cy="29.7917" r="1.29167" fill="black" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <circle cx="34.375" cy="29.7917" r="1.29167" fill="black" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <path d="M20.1666 37.5835C22.9166 40.1807 29.7916 43.8168 35.2916 37.5835" stroke="black"
                                   stroke-width="2" stroke-linecap="round" />
                         </svg>
                    </div>
                    <span class="attendance-label">DAY 4</span>
               </div>

               <div class="attendance-item" data-day="5">
                    <div class="attendance-face">
                         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55" fill="none">
                              <circle cx="27.5" cy="27.5" r="26.5" fill="#C89B25" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <circle cx="20.625" cy="29.7917" r="1.29167" fill="black" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <circle cx="34.375" cy="29.7917" r="1.29167" fill="black" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <path d="M20.1666 37.5835C22.9166 40.1807 29.7916 43.8168 35.2916 37.5835" stroke="black"
                                   stroke-width="2" stroke-linecap="round" />
                         </svg>
                    </div>
                    <span class="attendance-label">DAY 5</span>
               </div>

               <div class="attendance-item" data-day="6">
                    <div class="attendance-face">
                         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55" fill="none">
                              <circle cx="27.5" cy="27.5" r="26.5" fill="#C89B25" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <circle cx="20.625" cy="29.7917" r="1.29167" fill="black" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <circle cx="34.375" cy="29.7917" r="1.29167" fill="black" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <path d="M20.1666 37.5835C22.9166 40.1807 29.7916 43.8168 35.2916 37.5835" stroke="black"
                                   stroke-width="2" stroke-linecap="round" />
                         </svg>
                    </div>
                    <span class="attendance-label">DAY 6</span>
               </div>

               <div class="attendance-item" data-day="7">
                    <div class="attendance-face">
                         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55" fill="none">
                              <circle cx="27.5" cy="27.5" r="26.5" fill="#C89B25" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <circle cx="20.625" cy="29.7917" r="1.29167" fill="black" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <circle cx="34.375" cy="29.7917" r="1.29167" fill="black" stroke="black" stroke-width="2"
                                   stroke-linecap="round" />
                              <path d="M20.1666 37.5835C22.9166 40.1807 29.7916 43.8168 35.2916 37.5835" stroke="black"
                                   stroke-width="2" stroke-linecap="round" />
                         </svg>
                    </div>
                    <span class="attendance-label">DAY 7</span>
               </div>

               <div class="attendance-item bonus-item" data-day="8">
                    <div class="bonus-faces">
                         <div class="bonus-left-faces">
                              <div class="bonus-face bonus-face-1">
                                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55" fill="none">
                                        <circle cx="27.5" cy="27.5" r="26.5" fill="#C89B25" stroke="black"
                                             stroke-width="2" stroke-linecap="round" />
                                        <circle cx="20.625" cy="29.7917" r="1.29167" fill="black" stroke="black"
                                             stroke-width="2" stroke-linecap="round" />
                                        <circle cx="34.375" cy="29.7917" r="1.29167" fill="black" stroke="black"
                                             stroke-width="2" stroke-linecap="round" />
                                        <path d="M20.1666 37.5835C22.9166 40.1807 29.7916 43.8168 35.2916 37.5835"
                                             stroke="black" stroke-width="2" stroke-linecap="round" />
                                   </svg>
                              </div>

                              <div class="bonus-face bonus-face-2">
                                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55" fill="none">
                                        <circle cx="27.5" cy="27.5" r="26.5" fill="#C89B25" stroke="black"
                                             stroke-width="2" stroke-linecap="round" />
                                        <circle cx="20.625" cy="29.7917" r="1.29167" fill="black" stroke="black"
                                             stroke-width="2" stroke-linecap="round" />
                                        <circle cx="34.375" cy="29.7917" r="1.29167" fill="black" stroke="black"
                                             stroke-width="2" stroke-linecap="round" />
                                        <path d="M20.1666 37.5835C22.9166 40.1807 29.7916 43.8168 35.2916 37.5835"
                                             stroke="black" stroke-width="2" stroke-linecap="round" />
                                   </svg>
                              </div>
                         </div>

                         <div class="bonus-face bonus-face-3">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55" fill="none">
                                   <circle cx="27.5" cy="27.5" r="26.5" fill="#C89B25" stroke="black" stroke-width="2"
                                        stroke-linecap="round" />
                                   <circle cx="20.625" cy="29.7917" r="1.29167" fill="black" stroke="black"
                                        stroke-width="2" stroke-linecap="round" />
                                   <circle cx="34.375" cy="29.7917" r="1.29167" fill="black" stroke="black"
                                        stroke-width="2" stroke-linecap="round" />
                                   <path d="M20.1666 37.5835C22.9166 40.1807 29.7916 43.8168 35.2916 37.5835"
                                        stroke="black" stroke-width="2" stroke-linecap="round" />
                              </svg>
                         </div>
                    </div>

                    <span class="attendance-label bonus-label">BONUS</span>
               </div>

          </div>

          <form method="post" action="{% url 'main:daily_attend' %}" class="attendance-form" id="attendanceForm">
               {% csrf_token %}
               <button type="submit" class="attendance-close-btn" id="attendanceClose">
                    출석체크 하기
               </button>
          </form>

     </div>
</section>

<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
